{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        },
        "useBuiltIns": "usage",
        "corejs": {
          // note v3 & proposals=true will enable polyfilling every proposal supported by corejs (as per https://babeljs.io/docs/en/babel-preset-env)
          "version": 3,
          "proposals": true
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}